<html>
    <head>
        <title>Blog</title>

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
            integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
            crossorigin="anonymous"
        />
        <link rel="stylesheet" type="text/css" href="/stylesheet/app.css" />
        <style></style>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="bimobject icon"></i>Blog site</div>
                <a href="/blogs" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>
    